<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sesion.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="contenedor">
        <div class="tarjeta-video">
            <iframe 
                src="https://www.youtube.com/embed/BGzzXuum8-8?autoplay=1&mute=1&loop=1&playlist=BGzzXuum8-8&controls=0&showinfo=0&rel=0&iv_load_policy=3&modestbranding=1&fs=0"
                allow="autoplay; encrypted-media"
                allowfullscreen>
            </iframe>
        </div>
        <div class="tarjeta-formulario">
            <form action="/usuario-cerrar" method="POST">
                <div class="detalles">
                    <% if (usuario) { %>
                        <h1 class="formulario-titulo">Bienvenido <%= usuario %>!</h1>
                    <% } %>
                    <p class="formulario-subtitulo">Estado de sesion actual 🫡</p>
                </div>
                <div class="contenido">
                    <div class="tarjeta">
                        <div class="etiqueta">
                            <p>Cifrado y proteccion de ruta</p>
                        </div>
                        <div class="estado"></div>
                    </div>
                    <div class="tarjeta">
                        <div class="etiqueta">
                            <p>Epic Monkey driving </p>
                        </div>
                        <div class="estado"></div>
                    </div>
                    <div class="tarjeta">
                        <div class="etiqueta">
                            <p>Cenfotec Beca 150%</p>
                        </div>
                        <div class="estado estado-secundario"></div>
                    </div>
                    <div class="footer">
                        <button class="boton-subir" type="submit">Salir</button>
                        <p class="texto-secundario">Al cerrar sesion el acceso a esta pagina queda restringido y no podras seguir viendo el Epic Monkey driving ⚠️</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>