<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sesion.css">
    <title>Register</title>
</head>
<body>
    <div class="contenedor">
        <div class="tarjeta-imagen">
        </div>
        <div class="tarjeta-formulario">
            <form action="/usuario-nuevo" method="POST">
                <div class="detalles">
                    <h1 class="formulario-titulo">Bienvenido</h1>
                    <p class="formulario-subtitulo">Escribe tu informacion para crear tu cuenta</p>
                    <% if (error) { %>
                        <p class="formulario-subtitulo error"><%= error %></p>
                    <% } %>
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Nombre Usuario</label>
                    <input class="campo-entrada" type="text" placeholder="Usuario" name="usuario">
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Correo electrónico</label>
                    <input class="campo-entrada" type="email" placeholder="Correo electronico" name="correo">
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Contraseña</label>
                    <input class="campo-entrada" type="password" placeholder="Contraseña" name="contrasena">
                </div>
                <div class="footer">
                    <button class="boton-subir" type="submit">Crear</button>
                    <a href="/">¿Ya registrado? <u>Iniciar sesion</u></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>