<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sesion.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="tarjeta-imagen">
        </div>
        <div class="tarjeta-formulario">
            <form action="login">
                <div class="detalles">
                    <h1 class="formulario-titulo">Bienvenido</h1>
                    <p class="formulario-subtitulo">Escribe tu informacion para crear tu cuenta</p>
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Nombre Usuario</label>
                    <input class="campo-entrada" type="text" placeholder="Usuario">
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Correo electrónico</label>
                    <input class="campo-entrada" type="text" placeholder="Correo electronico">
                </div>
                <div class="campo">
                    <label for="" class="campo-nombre">Contraseña</label>
                    <input class="campo-entrada" type="password" placeholder="Contraseña">
                </div>
                <div class="footer">
                    <button class="boton-subir">Crear</button>
                    <a href="/">¿Ya registrado? Iniciar sesion</a>
                </div>
               
            </form>
        </div>
    </div>
</body>
</html>